// 颜色
$textColor = #2c3e50//默认字体颜色
// $accentColor = #1e90ff//默认主题颜色
$grayTextColor = #666
$lightTextColor = #999
$borderColor = #eaecef//默认边框颜色
$codeBgColor = #282c34//默认代码背景颜色
$arrowBgColor = rgb(230, 51, 51)//默认背景颜色
$navbarColor = #fff
$headerColor = #fff
$headerTitleColor = #fff
$nprogressColor = $accentColor


// 布局
// $navbarHeight ?= 3.6rem
// $bannerHeight ?= 12rem
// $sidebarWidth ?= 20rem
// $contentWidth ?= 700px

// 响应式 breakpoints
// $MQWide ?= 1440px
// $MQNarrow ?= 1440px
// $MQMobile ?= 700px
// $MQMobileNarrow ?= 480px